[core]
  editor = nano

[alias]
  br = branch
  #
  ci = commit -S
  cia = commit -Sa
  cd = commit -S --amend
  cad = commit -S --amend
  #
  co = checkout
  # 
  dump = 'cat-file -p'
  #
  fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
  #
  hist = 'log --pretty-format:"%h %ad | %s%C(auto)%d$Creset [%an]" --graph --date=short'
  #
  last = "log -1 HEAD"
  #
  ls = ls-files
  lsf = !git ls-files | grep -i
  #
  p = 'pull --rebase'
  #
  st = status
  ss = status -s
  #
  type = 'cat-file -t'

[delta]
	features = line-numbers decorations
	line-numbers = true
